{% extends 'homepage/homepage.html' %}
<!--  -->
{% block content %}

<!-- Account Info. Page Content -->
<div class="p-3">
    <div class="card border-dark shadow" style="max-width: 50rem;">
        <div class="card-header">
            <font style="color:black">Welcome, {{user.first_name}}</font>
            <br>
            <small class="card-subtitle">Position: {{ user.position_title }}</small>
            <br>
            <small class="card-subtitle">Start Date: {{ user.start_date }}</small>
        </div>
        <div class="card-body">
            Email:
            <font style="color:blue">{{user.email}}</font>
            <br>Reviews sent: {{ review_count }}
            <br>Reviews recieved: {{reviewee_count}}
            <br>Pending requests: {{ request_count }}
            <br>Reviews requested: {{requestee_count}}
        </div>
    </div>
    <hr>
    <div class="card border-dark mb-3 shadow" style="max-width: 50rem;">
        <div class="card-header">
            <font style="color:black">Manager: {{manager}}</font>
        </div>
        <div class="card-body">
            Email:
            <font style="color:blue">{{manager.email}}</font>
        </div>
    </div>
    <hr><br><br>
    </div>
<!-- end Page Content -->
{% endblock %}
