{% extends 'homepage/homepage.html' %}
<!--  -->
{% block content %}

<div id="requests">
    {% for draft in drafts %}
    <div class="form-check" id="draft{{draft.id}}">
        <div class="card border-dark mb-3" style="max-width: 50rem;">
            <div class="card-header">
                Your draft to: {{draft.reviewee}} <br>
                <small>{{draft.updated_at}}</small>
            </div>
            <div class="card-body text-dark">
                <div class="form-group shadow-textarea">
                    <textarea class="form-control z-depth-1" id="draft_text" rows="3" placeholder="Write review here...">{{draft.text}}</textarea>
                </div>
                <button class="btn btn-secondary" onClick="submitDraft({{draft.id}}, 'E');">Save Draft</button>
                <button class="btn btn-success" onClick="submitDraft({{draft.id}}, 'S');">Send Review</button>
                <br><br>
                <div class="alert alert-info" role="alert" id="draft{{draft.id}}_feedback" style="max-width: 8rem;" hidden></div>

            </div>
        </div>
    </div>
    <hr> {% endfor %}
    <!--  -->
    {% for request in requests %}
    <div class="form-check" id="request{{request.id}}">
        <div class="card border-dark mb-3" style="max-width: 20rem;">
            <div class="card-body text-dark">
                Request From: {{request.requestor}} <br>
                <small>{{request.created_at}}</small>
                <div>
                    <br>
                    <button class="btn btn-success" id="{{request.id}}-accept" onClick="requestClick({{request.id}}, 'A');">✓</button>
                    <button class="btn btn-danger" id="{{request.id}}-deny" onClick="requestClick({{request.id}}, 'D');">x</button>
                </div>
                <div class="alert alert-info" role="alert" id="request{{request.id}}_feedback" hidden></div>
            </div>
        </div>
    </div>
    <hr> {% endfor %}
</div>

{% endblock %} 