<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PEPro</title>

    <!-- Custom fonts for thislate-->
    <link href="{% static 'homepage/template_bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for thislate-->
    <link href="{% static 'homepage/template_bootstrap/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/template_bootstrap/css/sb-admin-2.min.css' %}" rel="stylesheet">
    <link href="{% static 'homepage/custom/css/homepage.css' %}" rel="stylesheet">

    <!-- duallistfilter -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- plugin code -->
    <script src="{% static 'homepage/bootstrap-duallistbox-master/dist/jquery.bootstrap-duallistbox.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'homepage/bootstrap-duallistbox-master/src/bootstrap-duallistbox.css' %}">
</head> 

<body id="page-top">



    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <!-- <i class="fas fa-laugh-wink"></i> -->
                </div>
                <div class="sidebar-brand-text mx-3">PEPro</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="account_info">
                    <!-- <i class="fas fa-fw fa-cog"></i> -->
                    <span>Account Information</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="request_review">
                    <!-- <i class="fas fa-fw fa-cog"></i> -->
                    <span>Request Reviews</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="display_reviews">
                    <!-- <i class="fas fa-fw fa-cog"></i> -->
                    <span>My Reviews</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider"> {% if isManager %}

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="display_manager_reviews">
                    <!-- <i class="fas fa-fw fa-cog"></i> -->
                    <span>My Underling's Reviews</span>
                </a>
            </li>


            <!-- Divider -->
            <hr class="sidebar-divider"> {% endif %}

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="display_requests">
                    <!-- <i class="fas fa-fw fa-cog"></i> -->
                    <span>Requests</span>
                </a>
            </li>

            <hr class="sidebar-divider">

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="view_sent_reviews">
                    <!-- <i class="fas fa-fw fa-cog"></i> -->
                    <span>Reviews Sent</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">


        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3"><i class="fa fa-bars"></i></button>

                    <!-- Topbar Navbar -->
                    <a class="navbar-nav mr-auto"><b>{{user.company}} - Peer Evaluation Pro</b></a>
                    <a class="navbar-nav ml-auto"><b>{{user}}</b></a>
                </nav>
                <!-- End of Topbar -->

                <!-- Page Content -->
                {% block content %}
                <div class="position-relative overflow-hidden p-3 p-md-3 m-md-3 text-center bg-light">
                    <div class="col-md-5 mx-auto my-5 p-lg-5" style="color:#319e2d">
                        <h1 class="display-4 font-weight-normal">PEPro</h1>
                        <p class="font-weight-normal lead text-black-50">Peer Evaluation Pro</p>
                        <div class="card border-dark mb-3 shadow p-3" style="max-width: 50rem;">
                          PEPro is a peer evaluation tool that allows employees to review each other, enabling the client to gage their employees’ performance and allowing employees to reflect on themselves through the words of their peers.
                        </div>
                    </div>
                <p>
                  <img src="../static/homepage/CV.png" alt="Carbon Valley Unofficial Logo" width="20%" height="20%" class="float-right">
                </p>

                {% endblock %}
                <!-- End Page Content -->

                <!-- End of Main Content -->
            </div>

            <!-- End of Content Wrapper -->
        </div>

        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Bootstrap core JavaScript-->
        <script src="{% static 'homepage/template_bootstrap/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'homepage/template_bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Core plugin JavaScript-->
        <script src="{% static 'homepage/template_bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

        <!-- Custom scripts for all pages-->
        <script src="{% static 'homepage/template_bootstrap/js/sb-admin-2.min.js' %}"></script>
        <script src="{% static 'homepage/custom/js/homepage.js' %}"></script>

        <!-- Site link scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>



</body>

</html>
