{% extends 'homepage/homepage.html' %}
<!--  -->
{% block content %}

<!-- Include jQuery and Bootstrap: -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!-- Include plugin's code -->
{% load static %}
<script src="{% static 'homepage/bootstrap-duallistbox-master/dist/jquery.bootstrap-duallistbox.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'homepage/bootstrap-duallistbox-master/src/bootstrap-duallistbox.css' %}">

<div class="form-check" id="new_request_input">
    Co-worker Email: <input id="coworker_email_input" type="text" maxlength="70">
    <br>
    <br>
    <div class="alert alert-danger" role="alert" style="width: fit-content;" id="new_request_feedback" hidden></div>
    <button class="btn btn-success" onClick="submitRequest('{{user.email}}')">Submit Request</button>
    <br>
    <br>
</div>
<!-- ++++++++++++++++++++++++++++++++++++++++ -->

<!-- Bootstrap Dual Listbox -->

<div class="row">
    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-12">
        <form class="form-check" id="demoform" action="#" method="post">
            <select multiple="multiple" size="5" name="duallistbox_demo1[]">
    <option value="option1">Option 1</option>
    <option value="option2">Option 2</option>
    <option value="option3" selected="selected">Option 3</option>
    <option value="option4">Option 4</option>
    <option value="option5">Option 5</option>
    <option value="option6" selected="selected">Option 6</option>
    <option value="option7">Option 7</option>
    <option value="option8">Option 8</option>
    <option value="option9">Option 9</option>
    <option value="option0">Option 10</option>
    </select>
            <br>
            <button type="submit" class="btn btn-success">Submit Requests</button>
            <br><br>
        </form>
    </div>
</div>

<script>
    var demo1 = $('select[name="duallistbox_demo1[]"]').bootstrapDualListbox();
    $("#demoform").submit(function() {
        alert($('[name="duallistbox_demo1[]"]').val());
        return false;
    });
</script>

<!-- ========================= -->

{% endblock %}