<head>
    <meta charset="UTF-8">
    <title>Requests</title>
    <h1>REQUESTS</h1>
</head>
​<ul>
  {% for request in requests %}
        {% if request.request_reviewer_id == 100 %}
        <li>
          <div id={{request.id}}>
            Request created at: {{ request.request_created_at}}<br />
            Requested by: {{request.request_reviewee.first_name}} {{request.request_reviewee.last_name}}
            <button onClick="onClick(request.id, true);">Accept</button>
            <button onClick="onClick(request.id, false);">Deny</button>
            <br>
          </div>
​
        </li>
        {% endif %}
    {% endfor %}
</ul>