<head>
  <meta charset="UTF-8">
  <title>Requests</title>
  <a href="/">
    <-Back to Homepage</a>
      <br>
      <h1>REQUESTS</h1>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      
      <script src= "display_requests.js"></script>
</head>

​<ul>
  {% for request in requests %}
  <li>
    Request created at: {{ request.created_at}}<br />
    Requested by: {{request.requestor_id.first_name}} {{request.requestor_id.last_name}}<br />
    Status: <p id="{{request.id}}-status">{{request.status}}</p>
    <button id="{{request.id}}-accept" value="{{ request.id}}" onclick="update_request(this.value, true)">Accept</button>
    <button id="{{request.id}}-deny" value="{{ request.id}}" onclick="update_request(this.value, false)">Deny</button>
    <br><br>
    <hr>
  </li>
  {% endfor %}
  {% if empty %}
  No Requests
  {% endif %}
</ul>