<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            function onClick(request_id, accepted) {
                $.post("",
                    {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        request_id: request_id,
                        accepted: accepted
                    },
                    function(data, status) {
                        data = JSON.parse(data);
                        if (accepted) {
                            // Redirect to the give review page
                            window.location.href = "/give_review/" + data["review_id"];
                        } else {
                            // Reload the current page with the denied request out of the database
                            window.location.href = "";
                        }
                    }
                );
            }
        </script>
    </head>
    <body>
        {% if not empty %}
            <h3>Pending Requests</h3>
            {% for request in requests %}
                <div id={{request.id}}>
                    {{request.request_reviewee.first_name}} {{request.request_reviewee.last_name}}
                    <button onClick="onClick({{request.id}}, true);">Accept</button>
                    <button onClick="onClick({{request.id}}, false);">Deny</button>
                    <br>
                </div>
            {% endfor %}
        {% else %}
            <h3>No Pending Reqeusts</h3>
        {% endif %}
    </body>
</html> 